<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <% if (locals.user) { %>
    <a href="/newMessage">Create new message</a>
  <%  } %>
  <div class="content">
    <% messages.forEach(message => { %>
      <div class="message">
        <div class="title"><%= message.title %></div>
        <div class="text"><%= message.text %></div>
        <% if (user && user.mem_status) { %>
          <div class="date"><%= message.created_at %></div>
          <div class="author"><%= message.username %></div>
        <% } %>
      </div>
      <% if (user && user.admin_status) { %>
        <a href="/deleteMessage/<%= message.id %>"><button type="button">!Delete message!</button></a>
      <% } %>
    <% }); %>
  </div>
</body>
</html>