<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header') %>  
  <div class="content">
    <div class="topRow">
      <h2>Message Board</h2>
      <% if (locals.user) { %>
        <a href="/newMessage">Create new message</a>
      <%  } %>
    </div>
    <% if (!user) { %>
     <p class="memberInfo"><a href="/register">Register</a> now to send messages!</p>
    <% } %>
    <% if (user && !user.mem_status) { %>     
      <p class="memberInfo">You can become a member and see who posted these messages and when! <a href="/clubForm">Become member NOW!</a></p>
    <% } %>
    <% messages.forEach(message => { %>
      <div class="message">
        <div class="topRow">
          <div class="title"><%= message.title %></div>
          <% if (user && user.admin_status) { %>
            <a href="/deleteMessage/<%= message.id %>"><button type="button">!Delete message!</button></a>
          <% } %>
        </div>
        <div class="text"><%= message.text %></div>
        <div class="date <%= !(user && user.mem_status) ? 'hidden' : '' %>"><%= user && user.mem_status ? message.created_at : `hidden` %></div>
        <div class="row">
          <div class="authorMessage">Message by:&nbsp&nbsp</div>
          <div class="author <%= !(user && user.mem_status) ? 'hidden' : '' %>"><%= user && user.mem_status ? message.username : `hidden` %></div>
        </div>
      </div>
    <% }); %>
  </div>
</body>
</html>